body {
	font-family: 'Lato', sans-serif;
	color: white;
}

h1 {
	font-size: 300%;
	
}

h1, h4 {
	color: #1a94ff;
}


fab fa-github {
	color: red;
}
#container {
	width: 80%;
	margin: auto
}

img {
	width: 80%;
	height: auto;
	float: right;
	margin: 5px;
}

footer {
	background-color: #807f7f;
	color: white;
	margin-top: 100%;
}

footer p {
	padding-top: 15px;
	padding-bottom: 2px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#container {
		width: 90%;
	}
	h1 {
		font-size: 180%;
	}
	#mail {
		color: rgb(77, 77, 77);
		padding-top: 3px;
		padding-bottom: 15px;
	}
	.col-left, .col-right {
		width: 100%;
		float: none;
	}
	.col-left {
		padding-bottom: 30px;
	
	}
	img {
		width: 120%;
	}
}

#photo {
	float: right;
}

#personal {
	color: rgb(77, 77, 77);
}

#list {
	font-size: 70%;
}

section {
	padding-bottom: 10px;
	border-width: 1px;
	border-bottom-style: dotted;
	color: rgb(174, 174, 174);
	border-spacing: 1px;
}

#edu {
	padding-top: 10px;
	padding-bottom: 10px;
}

#career {
	padding-top: 10px;
	padding-bottom: 10px;
}

em {
	color: grey;
}

ul {
	list-style: none;
	font-size: 60%;
}

.col-left {
	width: 75%;
	float: left;
}

.col-right {
	width: 22%;
	float: right;
}

.clear {
	clear: both;
}

p {
	color: rgb(77, 77, 77);
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 60%;
	margin: 5px;
}

.col-left-edu {
	width: 22%;
	float: left;
}

.col-right-edu {
	width: 75%;
	float: right;
	color: rgb(77, 77, 77);
}

.col-left-career {
	width: 22%;
	float: left;
}

.col-right-career {
	width: 75%;
	float: right;
	color: rgb(77, 77, 77);
}

.col-left-header{
	width:45%;
	float: left;
	color: #a9a9a9
}

.col-right-header{
	width: 22%;
	float: right;
	color: rgb(77, 77, 77);
}
i {padding-right: 5px;
	color: #bdbdbd;
}
 /* unvisited link */
 a:link {
    color: #bdbdbd;
}

/* visited link */
a:visited {
    color: #bdbdbd;
}

/* mouse over link */
a:hover {
    color: #a7a7a7;
}

/* selected link */
a:active {
    color: #bdbdbd;
} 
a:link {
	text-decoration: none;
}

/* Dark mode switch*/


.wrap {
	background-color: #fff;
	color: #333;
  }
  .light {
  /*  color: #333; */
  /*  background-color: #fff; */
  /*   -webkit-text-fill-color: #fff; */
  }
  .dark {
  /*  color: #fff; */
  /*  background-color: #333; */
  /*   -webkit-text-fill-color: #333; */
  }
  .wrap div {
	border: 1px solid #333;
	width: 300px;
	height: 150px;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: bottom;
  }
  .wrap div a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
  }
  .one {
	color: red;
	-webkit-text-fill-color: #fff;
	-webkit-text-stroke: 2px red;
  }
  .two {
	color: yellow;
	-webkit-text-fill-color: #fff;
	-webkit-text-stroke: 2px yellow;
  }
  .three {
	color: green;
	-webkit-text-fill-color: #fff;
	-webkit-text-stroke: 2px green;
  }
  /* .dark .one,
  .dark .two,
  .dark .three {
	-webkit-text-fill-color: #333;
  } */
  
  