body {
	font-family: 'Lato', sans-serif;
	color: white;
}

h1 {
	font-size: 300%;
	
}

h1, h4 {
	color: #1a94ff;
}


fab fa-github {
	color: red;
}
#container {
	width: 80%;
	margin: auto
}

img {
	width: 80%;
	height: auto;
	float: right;
	margin: 5px;
}

footer {
	background-color: #807f7f;
	color: white;
	margin-top: 100%;
}

footer p {
	padding-top: 15px;
	padding-bottom: 2px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#container {
		width: 90%;
	}
	h1 {
		font-size: 180%;
	}
	#mail {
		color: rgb(77, 77, 77);
		padding-top: 3px;
		padding-bottom: 15px;
	}
	.col-left, .col-right {
		width: 100%;
		float: none;
	}
	.col-left {
		padding-bottom: 30px;
	
	}
	img {
		width: 120%;
	}
}

#photo {
	float: right;
}

#personal {
	color: rgb(77, 77, 77);
}

#list {
	font-size: 70%;
}

section {
	padding-bottom: 10px;
	border-width: 1px;
	border-bottom-style: dotted;
	color: rgb(174, 174, 174);
	border-spacing: 1px;
}

#edu {
	padding-top: 10px;
	padding-bottom: 10px;
}

#career {
	padding-top: 10px;
	padding-bottom: 10px;
}

em {
	color: grey;
}

ul {
	list-style: none;
	font-size: 60%;
}

.col-left {
	width: 75%;
	float: left;
}

.col-right {
	width: 22%;
	float: right;
}

.clear {
	clear: both;
}

p {
	color: rgb(77, 77, 77);
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 60%;
	margin: 5px;
}

.col-left-edu {
	width: 22%;
	float: left;
}

.col-right-edu {
	width: 75%;
	float: right;
	color: rgb(77, 77, 77);
}

.col-left-career {
	width: 22%;
	float: left;
}

.col-right-career {
	width: 75%;
	float: right;
	color: rgb(77, 77, 77);
}

.col-left-header{
	width:45%;
	float: left;
	color: #a9a9a9
}

.col-right-header{
	width: 22%;
	float: right;
	color: rgb(77, 77, 77);
}
i {padding-right: 5px;
	color: #bdbdbd;
}
 /* unvisited link */
 a:link {
    color: #bdbdbd;
}

/* visited link */
a:visited {
    color: #bdbdbd;
}

/* mouse over link */
a:hover {
    color: #a7a7a7;
}

/* selected link */
a:active {
    color: #bdbdbd;
} 
a:link {
	text-decoration: none;
	
	

/*Colapsible menu styles*/
/*checkbox*/
input[type='checkbox'] {
	display: none;
  }
  /*default label*/
  .lbl-toggle {
	display: block;
  
	font-weight: bold;
	font-family: monospace;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
  
	padding: 1rem;
  
	color: #A77B0E;
	background: #FAE042;
  
	cursor: pointer;
  
	border-radius: 7px;
	transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
	color: #7C5A0B;
  }
/* triangle pointer*/
.lbl-toggle::before {
	content: ' ';
	display: inline-block;
  
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
  
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
  
	transition: transform .2s ease-out;
  }
  /*inner content*/
  .collapsible-content .content-inner {
	background: rgba(250, 224, 66, .2);
	border-bottom: 1px solid rgba(250, 224, 66, .45);
  
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: .5rem 1rem;
  }
  /*collapsible content*/
  .collapsible-content {
	max-height: 0px;
	overflow: hidden;
  
	transition: max-height .25s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 350px;
  }
  .toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  }
  